/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2{
  text-align: center;
}

select{
  margin:10px;
}
.equal{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
} */